<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title | escape }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li class="p-name">
            {%- if site.author -%}
              {{ site.author | escape }}
            {%- endif -%}
            </li>
            {%- if site.email -%}
            <li><a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            {%- endif -%}
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        {%- include social.html -%}
      </div>

      <div class="footer-col footer-col-3">
        <p>{{- site.description | escape -}}</p>
      </div>

      <!-- my footer navigation columns -->
      <div class="row">
        <div class="columns-3">
          <h3>Main Projects</h3>
          <br>
          <a href="/sebsite/clock">Clock</a>
          <br>
          <a href="/sebsite/puzzlebox">Puzzle Box</a>
          <br>
          <a href="/sebsite/game">My Game</a>
          <br>
          <a href="/sebsite/sebsite">Sebsite</a>
          <br>
          <a href="/sebsite/robot">Robot</a>
        </div>

        <div class="columns-3">
          <h3>Small Projects</h3>
          <br>
          <a href="/sebsite/chess">Chess</a>
          <br>
          <a href="/sebsite/crochet">Crochet</a>
          <br>
          <a href="/sebsite/parametric">Parametric</a>
          <br>
          <a href="/sebsite/rendering">Rendering</a>
        </div>

        <div class="columns-3">
          <h3>Skills</h3>
          <br>
          <a href="/sebsite/about">About</a>
          <br>
          <a href="/sebsite/cnc">CNC</a>
          <br>
          <a href="/sebsite/laser">Laser</a>
          <br>
          <a href="/sebsite/python">Python</a>
          <br>
          <a href="/sebsite/circus">Circus</a>
        </div>
      </div> 

    </div>

  </div>

</footer>
