---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

.rightfloat {
    /* for wide size*/
        float: right; 
        margin: 0 0 0 10px;
        width: 45%;
        max-width: 100%;
        margin-bottom: $spacing-unit / 2;
        margin-top: $spacing-unit / 2;

    /* for thin size */
    @include media-query($on-palm) { 
        float: none;
        margin: auto;
        width: auto;   
        max-height: 70vw; 
    } 
}


.thinrightfloat {
    /* for wide size*/
    float: right; 
    margin: 0 0 0 10px;
    width: 30%;
    max-width: 100%;
    margin-bottom: $spacing-unit / 2;
    margin-top: $spacing-unit / 2;
    
}

.img-pair-left{
    width: 47%;
    margin: 5px 3% 5px 0px;
}

.img-pair-right{
    width: 47%;
    margin: 5px 0px 5px 3%;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    text-align: center;
}

.gallery__img {
    max-width: 100%;
    max-height: 100%;
    width: 100%;

}

.gallery__item {
    align-self: end;
}

.gallery2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    text-align: center;
}

.gallery .gallery__item, .gallery2 .gallery__item {
    margin: 0px 0px 5px 0px;
    line-height: 1.2em;
}

@include media-query($on-palm) {
    .gallery {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
        text-align: center;
    }

    .gallery2 {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 10px;
        text-align: center;
    }
}


#leftfloat {
    /* for wide size*/
    @media screen and (min-width: 601px) {
        float: left; 
        margin: 0 0 10 0px;
        width: 45%;
        max-width: 100%;
    }

    /* for thin size */
    @media screen and (max-width: 600px) { 
        position: center;
        margin: auto;
        width: 100%;
        max-width: 100%;
    } 
}

#leftalign {
     /* for wide size*/
     @media screen and (min-width: 601px) {
        float: left; 
        margin: 0 0 10 0px;
        width: 45%;
        max-width: 100%;
    }

    /* for thin size */
    @media screen and (max-width: 600px) { 
        position: center;
        margin: auto;
        width: 100%;
        max-width: 100%;
    }

}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}


.footer-nav-col-1 {
    width: 30%;
    float: left;
}

.footer-nav-col-2 {
    width: 30%;
    float: center;
}

.footer-nav-col-3 {
    width: 30%;
    float: right;
}

.columns-3 {
    float: left;
    width: 28%;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.youtube {
    width: 420px; 
    height: 315px;
    max-width: 100%;
}

.basicimg {
    width: 100%;
    max-width: 500px; 
    height: auto;
    margin: 5px;
}

.viewer3d {
    width: 97%;
    margin: 10px 1.5%;
    height: 550px;
}

.dropdown {
    float: right;
    overflow: hidden;
    font-size: $base-font-size;
    border: none;
    outline: none;
    color: $text-color;
    background-color: $background-color;
    font-family: inherit; /* Important for vertical align on mobile phones */
}
.dropdown:hover {
    background-color: $highlight;
}

.dropbtn {
    font-size: $base-font-size;
    border: none;
    outline: none;
    color: $text-color;
    padding: 0px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0px 15px;
}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: $background-color;
    color: $text-color;
    border-left: 1px solid $grey-color-light;
    border-right: 1px solid $grey-color-light;
    border-bottom: 1px solid $grey-color-light;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 0px;
    //min-width: 110px;
    z-index: 3;
}



.dropdown-item {
    color: $text-color; //$text-color;
    padding: 5px 20px 5px 10px;
    line-height: 1.5;
    background-color: $background-color;
}

.dropdown-item:hover {
    background-color: $light-highlight;
}

.dropdown-item a {
    color: $text-color;
    background-color: inherit;
}

.dropdown:hover .dropdown-content {
    display: block;
}

// mobile override
@include media-query($on-palm) {
    .dropdown {
        line-height: $base-line-height;
        float: none;
        width: 140px;
        padding: 5px 0px;
    }

    .dropdown-content {
        position: absolute;
        right: 140px;
        top: 36px;
        width: 120px;
        z-index: 4;
    }
}

.zoom-container{
    overflow: hidden;
}

.zoom {
    transition: transform .2s; /* Animation */
}

.zoom:hover {
    transform: scale(1.7);
}
