---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

#rightfloat {
    /* for wide size*/
    @media screen and (min-width: 601px) {
        float: right; 
        margin: 0 0 0 10px;
        width: 45%;
        max-width: 100%;
    }

    /* for thin size */
    @media screen and (max-width: 600px) { 
        position: center;
        margin: auto;
        width: 100%;
        max-width: 100%;
    } 
}

#leftfloat {
    /* for wide size*/
    @media screen and (min-width: 601px) {
        float: left; 
        margin: 0 0 10 0px;
        width: 45%;
        max-width: 100%;
    }

    /* for thin size */
    @media screen and (max-width: 600px) { 
        position: center;
        margin: auto;
        width: 100%;
        max-width: 100%;
    } 
}

#leftalign {
     /* for wide size*/
     @media screen and (min-width: 601px) {
        float: left; 
        margin: 0 0 10 0px;
        width: 45%;
        max-width: 100%;
    }

    /* for thin size */
    @media screen and (max-width: 600px) { 
        position: center;
        margin: auto;
        width: 100%;
        max-width: 100%;
    }

}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }


.footer-nav-col-1 {
    width: 33%;
    float: left;
}

.footer-nav-col-2 {
    width: 33%;
    float: center;
}

.footer-nav-col-3 {
    width: 33%;
    float: right;
}