---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

#rightfloat {
    /* for wide size*/
    @media screen and (min-width: 601px) {
        float: right; 
        margin: 0 0 0 10px;
        width: 45%;
        max-width: 100%;
        margin-bottom: $spacing-unit / 2;
        margin-top: $spacing-unit / 2;
    }

    /* for thin size */
    @media screen and (max-width: 600px) { 
        position: center;
        margin: auto;
        width: 100%;
        max-width: 100%;
        margin-bottom: $spacing-unit / 2;
        margin-top: $spacing-unit / 2;
    } 
}

#leftfloat {
    /* for wide size*/
    @media screen and (min-width: 601px) {
        float: left; 
        margin: 0 0 10 0px;
        width: 45%;
        max-width: 100%;
    }

    /* for thin size */
    @media screen and (max-width: 600px) { 
        position: center;
        margin: auto;
        width: 100%;
        max-width: 100%;
    } 
}

#leftalign {
     /* for wide size*/
     @media screen and (min-width: 601px) {
        float: left; 
        margin: 0 0 10 0px;
        width: 45%;
        max-width: 100%;
    }

    /* for thin size */
    @media screen and (max-width: 600px) { 
        position: center;
        margin: auto;
        width: 100%;
        max-width: 100%;
    }

}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}


.footer-nav-col-1 {
    width: 30%;
    float: left;
}

.footer-nav-col-2 {
    width: 30%;
    float: center;
}

.footer-nav-col-3 {
    width: 30%;
    float: right;
}

.columns-3 {
    float: left;
    width: 28%;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.youtube {
    width: 420px; 
    height: 315px;
    max-width: 100%;
}

.basicimg {
    width: 100%;
    max-width: 500px; 
    height: auto;
    margin: 5px;
}

.viewer3d {
    width: 95%;
    position: auto;
    height: 550px;
}

.dropdown {
    float: right;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: $base-font-size;
    border: none;
    outline: none;
    color: $text-color;
    padding: 5px 10px;
    background-color: $background-color;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin-left: 20; /* Important for vertical align on mobile phones */
}

.dropdown-content {
    display: none;
    position: left;
    background-color: #f9f9f9;
    min-width: 110px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
  }